[submodule "src/sky_sim"]
	path = src/sky_sim
	url = git@github.com:SkyRats/sky_sim.git
[submodule "src/sky_vision"]
	path = src/sky_vision
	url = git@github.com:SkyRats/sky_vision.git
[submodule "src/sky_mission"]
	path = src/sky_mission
	url = git@github.com:SkyRats/sky_mission.git
[submodule "src/sky_base"]
	path = src/sky_base
	url = git@github.com:SkyRats/sky_base.git
